<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<!--SEO-->
{% block title %}Sensum | Soluciones Inmobiliarias {% endblock title %}
{% block description %}Vendemos tu inmueble en tiempo record{% endblock description %}
{% block titleop %}Sensum | Soluciones Inmobiliarias {% endblock titleop %}
{% block description_op %}Vendemos tu inmueble en tiempo record{% endblock description_op %}
{% block image_op %}{% static 'img/favicon.png' %}{% endblock image_op %}
{% block favicon %}{% static 'img/favicon.png' %}{% endblock favicon%}

<!--Body-->
{% block main_body_data %}
<video type="video/mp.4" src="{% static 'video/16x9.mp4' %}" autoplay muted playsinline loop style="width: 100vw; height:100vh; object-fit: cover; position: absolute; top: 0; left: 0;" class="d-md-block d-none"></video>
<video type="video/mp.4" src="{% static 'video/9x16.mp4' %}" autoplay muted playsinline loop style="width: 100vw; height:100vh; object-fit: cover; position: absolute; top: 0; left: 0;"  class="d-block d-md-none"></video>











<!----------------END CARD---------------------->

{% endblock %}


<!--JS-->
{% block child_js_above_files %}
{% endblock %}

{% block child_js_below_files %}
{% endblock %}