<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<!--SEO-->
{% block title %}{{company.name}}{% endblock title %}
{% block description %}{{company.slogan}}{% endblock description %}
{% block titleop %}{{company.name}}{% endblock titleop %}
{% block description_op %}{{company.slogan}}{% endblock description_op %}
{% block image_op %}{{company.logo}}{% endblock image_op %}
{% block favicon %}{% static 'img/favicon.png' %}{% endblock favicon%}


<!--Body-->
{% block main_body_data %}
{% include "company/list.html" %}


<!----------------END CARD---------------------->

{% endblock %}


<!--JS-->
{% block child_js_above_files %}
{% endblock %}

{% block child_js_below_files %}
{% endblock %}