{% load static %}
<section id="card-company">
    <div class="container bg-card">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4 text-center">
                <img src="{{MEDIA_URL}}{{company.logo}}" alt="{{company.name}}" class="img-logo">
            </div>
            <div class="col-12 col-md-4 d-flex align-items-center ">
                <ul class="text-md-end tool-list ms-auto">
                    {% for t in company.tool.all %}
                    <li><a href="" target="_blank"><img src="{{MEDIA_URL}}{{t.logo}}" alt="{{t.name}}"
                        class="tool-container"></a></li>
                    {% endfor %}                        
                </ul>
            </div>
        </div>
    </div>
</section>