{% load static %}
<section id="card-favs">
    <div class="container ">
        <div class="d-flex justify-content-center align-content-center wall-favs">
            <a href="{{company.contact.web}}" target="_blank"><i class="fa-solid fa-link"></i></a>
            {% for t in tool.all %}
            <a href="{{t.url}}" target="_blank"><i class="{{t.icon.icon}}"></i></a>
            {% endfor %}                    
            <a href="https://wa.me/{{user.contact.whatsapp}}" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>                               
             
        </div>
    </div>
</section>