{% load static %}
<section id="card-utilities">
   <div class="container fix-bottom py-3">
      <div class="d-flex justify-content-around align-content-center">
         <a data-bs-toggle="modal" data-bs-target="#modal-share"><i class="fa-solid fa-user share"></i></a>
         <a data-bs-toggle="modal" data-bs-target="#modal-share"><i class="fa-solid fa-location-dot share"></i></a>
         <a data-bs-toggle="modal" data-bs-target="#modal-share"><i class="fa-solid fa-download share"></i></a>
         <a data-bs-toggle="modal" data-bs-target="#modal-share"><i class="fa-solid fa-share share"></i></a>
         <a data-bs-toggle="modal" data-bs-target="#modal-share"><i class="fa-solid fa-star share"></i></a>
      </div>
   </div>
</section>