{% load static %}

<section id="copyrigth" class="pt-5">
    <div class="container-fluid bg-copy">
        <div class="container">
            <div class="row banner justify-content-end">
                <div class="col-12 col-md-6 col-lg-8 text-center text-md-start">
                    <h5 class="p-0 m-0" >
                        <strong>© Copyright 2024 Sensum </strong>
                    </h5>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-md-end text-center">
                    <h5 class="p-0 m-0 ">
                        Desarrollado por
                        <a class="shake" href="https://shake.mx/" target="blank">
                          Shake
                        </a>
                      </h5>
                </div>
            </div>
        </div>
</div>
</section>