{% load static %}

<footer class="py-5">
    <div class="container">
        <div class="row p-3 p-md-5 align-items-center">
            <div class="col-12 col-md-6 text-center">
                <h2>¡Contáctanos!</h2>
                <a href="http://facebook.com/holasensum" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-facebook fa-lg"></i>
                </a>
                <a href="http://instagram.com/holasensum" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram fa-lg"></i>
                </a>
            </div>
            <div class="col-12 offset-md-2  col-md-4 text-center text-md-start">
                <h6>Presencia</h6>
                <p>CDMX y Estado de México</p>
                <br>
                <h6>Dirección de correo electrónico</h6>
                <p>informes@sensum.mx</p>
                <br>
                <h6>Teléfonos</h6>
                <p>56 2183 4354</p>
                <p>55 6115 0123</p>
            </div>
        </div>
    </div>
</footer>