{% load static %}

<header id="index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0 hero">
                <img src="{% static 'img/header16_9.svg' %}" alt="Vende o renta en tiempo record" class="img-hero">
            </div>
            <div class="text-center text-header">
                <h2 class="title">Vende o renta en tiempo récord</h2>
                <h3 class="subtitle">Olvídate de las visitas, el papeleo y demás trámites</h3>
                <h1 class="super"><strong>¡Nosotros te ayudamos!</strong></h1>
                <br>
            </div>
            <div class="text-center text-action">
                <a href="https://api.whatsapp.com/send/?phone=525561150123&text=Hola+Sensum+,+necesito+información"
                    target="_blank" rel="noopener noreferrer">
                    <h5>
                        <span class="accion">Contáctanos ahora</span>
                    </h5>
                </a>
            </div>
        </div>
    </div>
</header>
<section id="about">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 p-0 ">
                <img src="{% static 'img/about.svg' %}" class="img-fluid" alt="Acerca de Sensum">
            </div>
            <div class="col-12 col-lg-4 offset-lg-1 text-center text-lg-start">
                <h2><strong>Acerca de Sensum</strong></h2>
                <br>
                <p>Con más de una década de experiencia en la industria inmobiliaria, Sensum es una empresa de inmuebles
                    con un servicio integral, que ayuda a los propietarios de viviendas y arrendadores desde la
                    búsqueda, hasta la compra, venta o renta de su vivienda o local comercial. Nuestro negocio no es
                    vender o rentar propiedades, sino ayudar a nuestro cliente a tomar la mejor decisión.</p>
                <br>
                <a href="https://api.whatsapp.com/send/?phone=525561150123&text=Hola+Sensum+,+necesito+información"
                    target="_blank" rel="noopener noreferrer">
                    <h5>
                        <span class="accion">¡Contáctanos!</span>
                    </h5>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2><strong>Servicios Sensum</strong></h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-lg-3 offset-lg-2 text-center">
                <div class="card">
                    <img src="{% static 'img/promotion.svg' %}" class="card-img-top"
                        alt="Promoción Inmuebles en Venta y Renta">
                    <div class="card-body">
                        <h3 class="card-title d-flex align-items-center justify-content-center">Promoción. Inmuebles en
                            Venta y Renta</h3>
                        <p class="card-text">Vende o Renta en tiempo récord.
                            Promocionamos inmuebles residenciales y comerciales.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 offset-lg-1 text-center">
                <div class="card">
                    <img src="{% static 'img/assesment.svg' %}" class="card-img-top"
                        alt="Consultoría Aspectos Legales, Fiscales y Estudio de Mercado">
                    <div class="card-body">
                        <h3 class="card-title d-flex align-items-center justify-content-center">Consultoría. Aspectos
                            Legales, Fiscales y Estudio de Mercado</h3>
                        <p class="card-text">Consultoría para clientes con una o múltiples propiedades.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="why">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 mb-3 ">
                <h2 class="text-center text-lg-start"><strong>¿Por qué elegir Sensum?</strong></h2>
                <ul class="text-start">
                    <li><i class="fa-solid fa-circle-check fa-lg why-detail"></i>Solucionamos</li>
                    <li><i class="fa-solid fa-circle-check fa-lg why-detail"></i>Protegemos</li>
                    <li><i class="fa-solid fa-circle-check fa-lg why-detail"></i>Guiamos</li>
                    <li><i class="fa-solid fa-circle-check fa-lg why-detail"></i>¡Y concretamos la venta o renta en
                        tiempo récord!</li>
                </ul>
                <br>
                <br>
                <a href="https://api.whatsapp.com/send/?phone=525561150123&text=Hola+Sensum+,+necesito+información"
                    target="_blank" rel="noopener noreferrer" class="text-center text-lg-start">
                    <h5>
                        <span class="accion">¡Contáctanos!</span>
                    </h5>
                </a>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <img src="{% static 'img/why.svg' %}" class="img-fluid" alt="¿Por qué elegir Sensum?">
            </div>
        </div>
    </div>
</section>
<section id="properties">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2><strong>Propiedades disponibles</strong></h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-2 text-center">
                <div class="card">
                    <div>
                        <p class="coming p-2 rounded-3">Próximamente</p>
                    </div>
                    <img src="{% static 'img/sale.svg' %}" class="card-img-top" alt="Propiedades en Venta Sensum">
                    <div class="card-body">
                        <h3 class="card-title d-flex align-items-center justify-content-center">En Venta</h3>
                        <p class="card-text ">Tu nuevo hogar te está esperando.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 text-center">
                <div class="card">
                    <div>
                        <p class="coming p-2 rounded-3">Próximamente</p>
                    </div>
                    <img src="{% static 'img/leasing.svg' %}" class="card-img-top" alt="Propiedades en Renta Sensum">
                    <div class="card-body ">
                        <h3 class="card-title d-flex align-items-center justify-content-center">En renta</h3>
                        <p class="card-text ">Inmuebles en renta que se ajustan a tus necesidades.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 text-center">
                <div class="card">
                    <div>
                        <p class="coming p-2 rounded-3">Próximamente</p>
                    </div>
                    <img src="{% static 'img/shop.svg' %}" class="card-img-top" alt="Locales Comerciales Sensum">
                    <div class="card-body">
                        <h3 class="card-title d-flex align-items-center justify-content-center">Locales Comerciales</h3>
                        <p class="card-text ">Encuentra el lugar ideal para establecer tu negocio.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="card">
                    <div>
                        <p class="coming p-2 rounded-3">Próximamente</p>
                    </div>
                    <img src="{% static 'img/luxury.svg' %}" class="card-img-top"
                        alt="Propiedades Residenciales y  de Lujo">
                    <div class="card-body">
                        <h3 class="card-title d-flex align-items-center justify-content-center">Luxury</h3>
                        <p class="card-text ">Propiedades exclusivas de alto valor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center">
                <div class="card">
                    <div>
                        <p class="coming p-2 rounded-3">Próximamente</p>
                    </div>
                    <img src="{% static 'img/state.svg' %}" class="card-img-top" alt="Desarrollos Inmobiliarios Sensum">
                    <div class="card-body">
                        <h3 class="card-title d-flex align-items-center justify-content-center">Desarrollos</h3>
                        <p class="card-text ">Estrena casa dentro del algunos desarrollos promocionados por Sensum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <h2><strong>¿Tienes un inmueble en venta o renta?</strong></h2>
                <h5>Llena el formulario</h5>
                <p>¡Pronto nos pondremos en contacto!</p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12  offset-lg-2 col-lg-8 call-card text-center py-3">
                        <form class="row needs-validation contacto_sensum" id="formularioContacto">
                            <div class="col-12 col-lg-8 offset-lg-2 text-start">
                                <h6><strong>Tipo de Inmueble</strong></h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tipo_inmueble" required
                                        id="tipo_inmueble" value="casa">
                                    <label class="form-check-label" for="tipo_inmueble">
                                        Casa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tipo_inmueble" required
                                        id="tipo_inmueble" value="departamento">
                                    <label class="form-check-label" for="tipo_inmueble">
                                        Departamento
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tipo_inmueble" required
                                        id="tipo_inmueble" value="local">
                                    <label class="form-check-label" for="tipo_inmueble">
                                        Local Comercial
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tipo_inmueble" required
                                        id="tipo_inmueble" value="desarrollo">
                                    <label class="form-check-label" for="tipo_inmueble">
                                        Desarrollo Inmobiliario
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8 offset-lg-2 text-start">
                                <h6><strong>Operación</strong></h6>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="operacion" required
                                        id="operacion" value="venta">
                                    <label class="form-check-label" for="operacion">
                                        Venta
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="operacion" required
                                        id="operacion" value="renta">
                                    <label class="form-check-label" for="operacion">
                                        Renta
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8 offset-lg-2 text-start">
                                <h6><strong>Ubicación</strong></h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ubicacion" required
                                        id="ubicacion" value="cdmx">
                                    <label class="form-check-label" for="ubicacion">
                                        CDMX
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ubicacion" required
                                        id="ubicacion" value="estado">
                                    <label class="form-check-label" for="ubicacion">
                                        Estado de México
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i class="fa-regular fa-user"></i>
                                    </div>
                                    <input type="text" class="form-control" id="nombre_completo"
                                        placeholder="Nombre Completo" aria-label="Nombre Completo" required />
                                </div>
                            </div>
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i class="fa-regular fa-envelope"></i>
                                    </div>
                                    <input type="email" class="form-control" id="correo_contacto" placeholder="Email"
                                        aria-label="Email" required />
                                </div>
                            </div>
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-mobile-screen"></i>
                                    </div>
                                    <input type="tel" class="form-control" id="telefono_contacto" placeholder="Teléfono"
                                        aria-label="Teléfono" required />
                                </div>
                            </div>
                            <div class="col-12 col-lg-8 offset-lg-2">
                                
                                <div class="g-recaptcha" data-sitekey="6LfdfEkpAAAAALn-dkWKWeZgpE1vVi-lMlppm67W" required style="transform: scale(.8); transform-origin: 0;"></div>                                
                                <button type="submit" class="col-12 btn btn-primary">
                                    Enviar Mensaje
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalGracias" tabindex="-1" role="dialog" aria-labelledby="modalGraciasLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mx-auto ok" id="modalGraciasLabel">
              ¡Gracias!
            </h5>
          </div>
          <div class="modal-body text-center">
            <p>
              Hemos recibido tu mensaje, nos comunicaremos contigo en breve.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mx-auto error" id="modalErrorLabel">
            ¡Ha ocurrido un error!
          </h5>
        </div>
        <div class="modal-body text-center">
          <p>El mensaje no ha sido enviado, por favor intenta más tarde.</p>
        </div>
      </div>
    </div>
    </div>
</section>
<section id="ca1">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-4 text-center text-lg-start">
                <br>
                <h2><strong>Consigue las mejores opciones de inversión inmobiliaria en vivienda o comercial, con la ayuda de nuestro equipo de profesionales.</strong></h2>
                <br>
                <br>
                <a href="https://api.whatsapp.com/send/?phone=525561150123&text=Hola+Sensum+,+necesito+información"
                    target="_blank" rel="noopener noreferrer">
                    <h5>
                        <span class="accion">¡Contáctanos!</span>
                    </h5>
                </a>
            </div>
            <div class="col-lg-6 offset-lg-1 text-center text-lg-start">
                <img src="{% static 'img/inspiration.svg' %}" class="img-fluid" alt="Mejores opciones de inversión">
            </div>
        </div>
    </div>
</section>


