@font-face {
  font-family: "HelveticaNowDisplay-Regular";
  src: local("HelveticaNowDisplay-Regular"), url("../fonts/HelveticaNowDisplay-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "LeagueSpartan-VariableFont_wght";
  src: local("LeagueSpartan-VariableFont_wght"), url("../fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype"); }
@font-face {
  font-family: "Cocomat-pro-regular";
  src: local("Cocomat-pro-regular"), url("../fonts/Cocomat-pro-regular.ttf") format("truetype"); }
body {
  font-family: "HelveticaNowDisplay-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; }

body::-webkit-scrollbar {
  display: none; }

.helvetica {
  font-family: "HelveticaNowDisplay-Regular"; }

.spartan {
  font-family: "LeagueSpartan-VariableFont_wght"; }

.livvic {
  font-family: "Cocomat-pro-regular"; }

html {
  font-size: 14px; }

body {
  background-color: var(--bg-main, #fffffe);
  color: var(--text-main, #2b2c34); }

h2 {
  font-family: "LeagueSpartan-VariableFont_wght"; }

a {
  text-decoration: none;
  color: var(--text-main, #2b2c34) !important; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  margin-top: 0.5rem; }

#card-cover .img-cover {
  height: 45vh;
  width: 100%; }
#card-cover .photo-position {
  position: absolute;
  right: 0;
  left: 0;
  top: 45%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  text-align: center; }
#card-cover .photo-img {
  border-radius: 50%;
  width: 300px !important;
  height: 300px !important;
  margin: 0.2rem 0.3rem; }
#card-cover .card {
  border-radius: 50% !important;
  width: 80px !important; }
#card-cover .card-bg-up {
  height: 160px;
  background-color: var(--bg-main, #fffffe); }
#card-cover .card-bg-down {
  text-align: center;
  padding: 0rem 15rem;
  background-color: var(--bg-main, #fffffe); }
@media only screen and (max-width: 992px) {
  #card-cover .img-cover {
    height: 30vh; }
  #card-cover .card-bg-down {
    padding: 0rem 10rem; }
  #card-cover .photo-position {
    top: 30%; } }
@media only screen and (max-width: 768px) {
  #card-cover .img-cover {
    height: 40vh; }
  #card-cover .photo-position {
    top: 40%; }
  #card-cover .card-bg-down {
    padding: 0rem 10rem; } }
@media only screen and (max-width: 576px) {
  #card-cover .img-cover {
    height: 20vh; }
  #card-cover .photo-position {
    top: 20%; }
  #card-cover .photo-img {
    border-radius: 100px;
    border: 5px solid var(--bg-main, #fffffe);
    width: 150px !important;
    height: 150px !important; }
  #card-cover .card-bg-up {
    height: 80px; }
  #card-cover .card-bg-down {
    padding: 0rem 1rem; } }

#card-favs {
  height: 100%; }
  #card-favs #list-fav li {
    display: inline-block; }
  #card-favs .wall-favs {
    padding: 10px 0;
    overflow-x: scroll; }
  #card-favs i {
    font-size: 75px !important;
    color: var(--icon-main, #2B2C34) !important;
    margin: 0 15px; }
  #card-favs i:hover {
    cursor: pointer; }
  @media only screen and (max-width: 768px) {
    #card-favs i {
      font-size: 40px !important; } }

#card-company .bg-card {
  background-color: var(--company-main, #6246ea);
  height: 350px; }
#card-company .img-logo {
  width: 300px;
  height: auto;
  padding: 0;
  margin: 0; }
#card-company li {
  background-color: var(--company-secondary, #d1d1e9);
  text-align: center;
  border-radius: 15px; }
#card-company i {
  font-size: 45px !important;
  color: var(--company-icono, #d1d1e9) !important;
  margin: 5px 5px;
  width: 55px !important; }
#card-company i:hover {
  cursor: pointer; }
@media only screen and (max-width: 576px) {
  #card-company .bg-card {
    height: 200px; }
  #card-company .img-logo {
    width: 100px; }
  #card-company li {
    border-radius: 10px; }
  #card-company i {
    font-size: 30px !important;
    color: var(--company-icono, #d1d1e9) !important;
    margin: 5px 5px;
    width: 45px !important; } }

#card-banner .banner {
  position: relative; }
#card-banner .img-banner {
  height: 300px;
  width: 100%;
  filter: opacity(50%);
  -webkit-filter: opacity(50%); }
#card-banner .slogan {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  text-align: center;
  color: var(--text-main, #2b2c34); }
@media only screen and (max-width: 992px) {
  #card-banner .img-banner {
    height: 150px; }
  #card-banner .slogan {
    top: 20%; } }

#card-services .box {
  background-color: var(--company-secondary, #d1d1e9);
  height: 150px; }
#card-services .btn-primary {
  border: none;
  height: 150px;
  vertical-align: middle;
  background-color: var(--company-secondary, #d1d1e9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
#card-services .btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
  --webkit-filter: brightness(.95); }
#card-services .service-box, #card-services i {
  text-align: center;
  color: var(--text-main, #2b2c34); }
#card-services .service-detail {
  text-align: center; }
#card-services .more {
  color: var(--text-main, #2b2c34); }
#card-services .icon-services {
  font-size: 35px !important;
  color: var(--icon-services, #6246ea) !important;
  margin: 5px 5px; }
@media only screen and (max-width: 992px) {
  #card-services h3 {
    font-size: 1.4rem; }
  #card-services .icon-services {
    font-size: 20px !important;
    margin: 2px; } }

#card-call {
  padding-bottom: 95px; }
  #card-call .banner-call {
    text-align: center; }
  #card-call .company-call {
    background-color: var(--company-main, #6246ea);
    color: var(--text-secondary, #fffffe);
    border: none;
    border-radius: 10px;
    padding: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-family: "LeagueSpartan-VariableFont_wght";
    transition: all 0.5s ease-in-out; }
  #card-call .company-call:hover {
    opacity: 0.8;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  #card-call a {
    color: var(--text-secondary, #fffffe) !important; }

#card-utilities .fix-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0%;
  right: 0%;
  background-color: var(--company-main, #6246ea);
  padding: 5px; }
#card-utilities .img-utilities {
  width: 60px;
  height: auto; }
#card-utilities .img-utilities:hover {
  cursor: pointer; }
#card-utilities .icon-utility {
  font-size: 3rem !important;
  color: var(--icon-utilities, #fffffe) !important; }
#card-utilities .icon-utility:hover {
  cursor: pointer; }
@media only screen and (max-width: 768px) {
  #card-utilities .img-utilities {
    width: 40px;
    height: auto; }
  #card-utilities .icon-utility {
    font-size: 2rem !important;
    color: var(--icon-utilities, #fffffe) !important; } }

#modal-share .modal-content, #modal-user .modal-content, #modal-map .modal-content, #modal-download .modal-content, #modal-favs .modal-content {
  border: none !important;
  border-radius: 15px !important;
  border-color: transparent !important;
  background-color: var(--company-secondary, #d1d1e9) !important;
  height: 100%; }
#modal-share .modal-body, #modal-user .modal-body, #modal-map .modal-body, #modal-download .modal-body, #modal-favs .modal-body {
  background-color: var(--company-secondary, #d1d1e9) !important;
  border-radius: 15px !important;
  border-color: transparent !important;
  color: var(--text-secondary, #fffffe) !important;
  height: 100%; }
#modal-share .icon, #modal-user .icon, #modal-map .icon, #modal-download .icon, #modal-favs .icon {
  color: var(--text-main, #2b2c34);
  font-size: 75px; }
#modal-share .icon-small, #modal-user .icon-small, #modal-map .icon-small, #modal-download .icon-small, #modal-favs .icon-small {
  color: var(--icon-secondary, #6246ea);
  font-size: 40px; }
#modal-share a, #modal-share h3, #modal-share h2, #modal-user a, #modal-user h3, #modal-user h2, #modal-map a, #modal-map h3, #modal-map h2, #modal-download a, #modal-download h3, #modal-download h2, #modal-favs a, #modal-favs h3, #modal-favs h2 {
  color: var(--icon-secondary, #6246ea) !important; }

/*# sourceMappingURL=estilos.css.map */